# env & build
.venv/
__pycache__/
*.pyc

# datasets / conversions
latest-bview*.gz
routeviews_*.dat
routeviews_*_fixed.dat
routeviews_ipv4_only.dat

# outputs
results_*/      # results_pcaps_http/, results_pcaps_https/
*.pcap
*.csv
*.log

# misc
*.tmp
